@mixin button($outline: false) {
  font-family: $admin-font;
  display: inline-block;
  text-align: center;
  font-size: var(--font-size-base);
  font-weight: 700;
  line-height: 1rem;
  padding: calc(#{$spacem} - 1px) calc(#{$spacel} - 1px);
  color: $primary-fg;
  background-color: $primary-bg;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  border-radius: var(--button-border-radius-size);
  margin-inline: 0 var(--space-s);
  box-sizing: border-box;
  appearance: none;
  font-smoothing: antialiased;
  text-decoration: none;
  user-select: none;
  cursor: pointer;

  &:hover, &:focus {
    color: $primary-fg;
    background-color: $hover-primary-bg;
    text-decoration: none;
    border: 1px solid transparent;
  }

  @if $outline {
    background-color: $primary-fg;
    color: $primary-bg;

    &:hover, &:focus {
      background-color: $primary-bg;
      color: $white;
      text-decoration: none;
    }
  }
}
