// Cannot use variables since Core does not define a separate library for
// variables.
// $primary-bg: var(--button-bg-color--primary);
// $hover-primary-bg: var(--button--hover-bg-color--primary);
// $primary-fg: var(--button-fg-color--primary);
// $admin-font: var(--font-family);
// $spacem: var(--space-m);
// $spacel: var(--space-l);
$primary-bg: rgb(0, 62, 204);
$hover-primary-bg: rgb(0, 54, 177);
$primary-fg: rgb(255, 255, 255);
$admin-font: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$spacem: 1rem;
$spacel: 1.5rem;