@import 'variables';

.layout-builder__quick-add-blocks {
  font-size: 18px;
  text-align: center;

  ul.links li {
    padding: 0;
  }
}
.layout-builder__quick-add-blocks__actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.layout-builder__quick-add-blocks__blocks {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-gap: 10px;
  padding: 0 20px;
}

.layout-builder__quick-add-blocks__item {
  border: solid 2px $primary;
  padding: 20px 30px 20px 20px;
  position: relative;
}

.layout-builder__quick-add-blocks__item__logo {
  margin-bottom: 10px;
}

.layout-builder__quick-add-blocks__item__description {
  margin-top: 10px;
}

.layout-builder__quick-add-blocks__item .links {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Tooltip */
.layout-builder__quick-add-blocks__tooltip {
  position: absolute;
  top: 5px;
  right: 5px;
}

.layout-builder__quick-add-blocks__tooltip .layout-builder__quick-add-blocks__tooltip-content {
  visibility: hidden;
  width: 250px;
  background-color: $primary;
  font-size: 0.7em;
  color: #fff;
  text-align: center;
  padding: 5px 10px 15px 10px;
  box-sizing: border-box;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: calc(100% + 10px);
  left: 50%;
  margin-left: -125px;
}

.layout-builder__quick-add-blocks__tooltip .layout-builder__quick-add-blocks__tooltip-content::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: $primary transparent transparent transparent;
}

.layout-builder__quick-add-blocks__tooltip-trigger {
  border: solid 2px $primary;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: $primary;
  font-size: 12px;
  line-height: 25px;
}

.layout-builder__quick-add-blocks__tooltip-trigger:hover {
  cursor: help;
}

.layout-builder__quick-add-blocks__tooltip:hover .layout-builder__quick-add-blocks__tooltip-content {
  visibility: visible;
}
