@mixin button($outline: false) {
  border-radius: 6px;
  background-color: var(--gin-color-primary);
  font-family: $admin-font;
  color: $white;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  padding: calc(1rem - 2px) calc(1.5rem - 2px);
  border: 2px solid var(--gin-color-primary) !important;
  box-sizing: border-box;
  appearance: none;
  font-smoothing: antialiased;
  text-decoration: none;
  user-select: none;
  cursor: pointer;

  &:hover, &:focus {
    color: $white;
    background-color: var(--gin-color-primary-hover);
    border-color: var(--gin-color-primary-hover) !important;
    text-decoration: none;
  }

  @if $outline {
    background-color: $white;
    color: var(--gin-color-primary);

    &:hover, &:focus {
      background-color: var(--gin-color-primary);
      color: $white;
      text-decoration: none;
    }
  }
}
