@import 'variables';
@import 'mixins';

// Import the default theme by default.
@import '../default/default';

.layout-builder__quick-add-blocks__actions {
  a {
    @include button();
  }
}

.layout-builder__quick-add-blocks__blocks {
  padding: 20px;
}

.layout-builder__add-block {
  background-color: var(--gin-bg-app);
}

.layout-builder__quick-add-blocks__item {
  border: solid 2px var(--gin-color-primary);
  border-radius: 6px;
  padding: 0;
  background-color: $white;

  .links a {
    display: block;
    padding: 20px 30px 20px 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
    color: var(--gin-color-primary);
    font-family: $admin-font;

    &:hover, &:focus {
      background-color: var(--gin-color-primary);
      color: $white;
      text-decoration: none;
    }
  }
}

.layout-builder__quick-add-blocks__tooltip-trigger  {
  border: solid 2px var(--gin-color-primary);
  background-color: $white;
  color: var(--gin-color-primary);
  font-weight: 700;
  line-height: inherit;
}

.layout-builder__quick-add-blocks__tooltip {
  .layout-builder__quick-add-blocks__tooltip-content {
    background-color: var(--gin-color-primary);
    font-family: $admin-font;
    font-weight: 400;

    &:after {
      border-color: var(--gin-color-primary) transparent transparent transparent;
    }
  }
}
