{#
/**
* @file
* Default theme implementation to display a quick add block listing.
*/
#}
{% set classes = [
  'layout-builder__quick-add-blocks__item',
] %}
<div{{attributes.addClass(classes)}}>
  {% if icon is not empty %}
    <img src="{{ icon }}" alt="{{ label }}" class="layout-builder__quick-add-blocks__item__logo"/>
  {% endif %}

  {{ link }}
  {% if description is not empty or multiple_view_mode_message is not empty %}
    <div class="layout-builder__quick-add-blocks__tooltip">
      <div class="layout-builder__quick-add-blocks__tooltip-trigger">
        ?
      </div>
      <div class="layout-builder__quick-add-blocks__tooltip-content">
        {% if description is not empty %}
          <div class="layout-builder__quick-add-blocks__item__description">{{ description }}</div>
        {% endif %}
        {% if screenshot is not empty %}
          <div class="layout-builder__quick-add-blocks__item__screenshot">{{ screenshot }}</div>
        {% endif %}
        {% if multiple_view_mode_message is not empty %}
          <div class="layout-builder__quick-add-blocks__item__multiple-view-mode">{{ multiple_view_mode_message }}</div>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>

