{#
/**
* @file
* Default theme implementation to display a quick add block listing.
*/
#}
{% set classes = [
  'layout-builder__quick-add-blocks',
  'js-layout-builder__quick-add-blocks'
] %}
<div{{attributes.addClass(classes)}}>
  <div class="layout-builder__quick-add-blocks__blocks">
		{% for value in content %}
			{{value}}
		{% endfor %}
	</div>
  <div class="layout-builder__quick-add-blocks__actions">
    {{ see_more }}
    {{ cancel }}
  </div>
</div>

